.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  border: none;

  &:checked {
    border: none;
  }
}

// SIDENAV
.container-sidenav {
  width: 100%;
  height: 90%;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}

// CARD

.card-1,
.card-2 {
  width: 40%;
  height: 40%;
}

.card-1 {
  background-color: #bb6bd9;
  margin-right: 60px;
}

.card-2 {
  background-color: #f2c94c;
}

// BUTTON
.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

// INPUT
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.example-full-width {
  width: 100%;
}
